$main-color: rgb(15, 15, 15);
$sidebar-color: #212121;
$text-color: #f1f1f1;
$button-background-color: rgba(239, 35, 60, 0.8);
$button-background-color-hover: rgba(239, 35, 60, 0.7);
$avatar-background-color: rgba(82, 121, 111, 0.8);

$border-radius: 15px;
$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Montserrat", sans-serif;
