@use "../../../sass/" as *;

.recover {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #cad2c5;
  .recover-box {
    padding: 0rem 3rem;
    padding-top: 35px;
    width: 30%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: #fff;
    position: relative;
    border-radius: 10px;

    @include tablet {
      width: 50%;
    }

    @include mobile {
      width: 90%;
    }

    .close-icon {
      position: absolute;
      top: 15px;
      right: 15px;
      color: #52796f;
      cursor: pointer;
      @include mobile {
        font-size: 20px;
      }
    }

    .recover-msg {
      margin-bottom: 50px;
      opacity: 0.5;
    }

    .recover-form {
      width: 100%;
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        label {
          font-size: 10px;
          font-weight: 700;
          opacity: 0.5;
        }

        input {
          width: 100%;
          padding: 10px;
          margin-bottom: 15px;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }

      .err {
        color: #b00020;
        font-size: 14px;
      }

      .btn-verify {
        width: 100%;
        background-color: $button-background-color;
        color: #fff;
        font-weight: 700;
        padding: 10px 0px;
        border-radius: 4px;
        border: none;
        outline: none;
        cursor: pointer;
        margin-top: 5px;
      }

      .resend-OTP {
        text-align: center;
        margin-top: 10px;
        font-size: 12px;

        span {
          color: #52796f;
          cursor: pointer;
        }
      }
    }
  }
}
